<num-rec-navbar></num-rec-navbar>

<div class = "container-fluid">
<p>
  listing des projets
</p>

<!-- tableau des projet -->

  <div class="col-md-12">
    <table  class="table table-bordered table-responsive">
          <thead>
            <tr>
              <!-- <th>groupe</th> -->
              <th>nom</th>
              <th >client</th>
              <th>model</th>
              <th>date creation</th>
              <th>date fin</th>
              <th>etat</th>
              <th>createur</th>
              <th>effacer</th>
            </tr>
          </thead> 
          
          <tbody>
            <tr *ngFor="let project of projects">
              <td>{{project.name}}</td>
              <td>{{project.client.clientName}}</td>
              <td>{{project.model}}</td>
              <td>{{project.startDate}}</td>
              <td>{{project.endDate}}</td>
              <td>{{project.state}}</td>
              <td>{{project.creator}}</td>
              <td width="2%"><button type = "button" class="btn btn-block btn-danger clicable" (click)="deleteProject(project)"><span >X</span></button></td> 
            </tr> 
          </tbody>
          
    </table>
  </div>
</div>  
         
