

 
      <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" >{{userName}}</a>
        <div class="collapse navbar-collapse" id="containerNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item " *ngIf ="userType != 'Admin'">
              <a class="nav-link" routerLink='/currentproject'>Projets en cours </a>
            </li>
            <li class="nav-item" *ngIf ="userType != 'Admin'">
              <a class="nav-link" routerLink='/finishproject'>Projets finis</a>
            </li>
            <li class="nav-item" *ngIf ="userType != 'Admin'">
              <a class="nav-link" routerLink='/createproject'>Créer un projet</a>
            </li>
            <li class="nav-item" *ngIf ="userType == 'Admin'">
              <a class="nav-link" routerLink='/projectmanager'>Gérer les projets</a>
            </li>
            <li class="nav-item" *ngIf ="userType == 'Admin'">
              <a class="nav-link" routerLink='/modelmanager'>Gérer les modèles</a>
            </li> 
            <li class="nav-item" *ngIf ="userType == 'Admin'">
              <a class="nav-link" routerLink='/usermanager'>Gérer les utilisateurs</a>
            </li>
            <li class="nav-item" *ngIf ="userType == 'Admin'">
              <a class="nav-link" routerLink='/clientmanager'>Gérer les clients</a>
            </li>  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/home">Deconnexion</a></li>
          </ul>
          
        </div>
      </nav>
      