<div class="container" *ngIf="viewDeleteClient">
  
<div class="form-group">
        <label for="modelName">Choisir le client à supprimer</label>   
        <select class="form-control input-sm" [(ngModel)]="clientSelectName"  name="clientSelectName">
          <option class='gras' >choisir Clients</option>
          <option  *ngFor="let client of clients" >{{client.name}}</option>
        </select>  
</div>

 <div> 
        <button type="button" class="btn btn-primary" (click)=deleteClient()>
                Supprimer le client : <span class="glyphicon glyphicon-ok-sign " aria-hidden="true"></span>
        </button> 
</div>

</div>
