



<div class="container" *ngIf="viewCreateModel" >
  <div *ngIf="startCreate" class="loader d-block m-t-2"></div>
    <h1>Création de Modèle</h1>
    <form >
      <div class="form-group">
        <label for="login">Nom du Modèle</label>
        <input type="text" class="form-control" id="login" required [(ngModel)]="modelName"  name="modelName">
        <div>
        <button type="submit" class="btn btn-default" (click)="affectCategory()">Choisir les categories</button>
      </div>
      </div>

      
      <div class="d-inline-flex flex-row justify-content-start" *ngFor="let categorie of categoriesSelected">
            <div class="p-2 bg-primary text-white" style="margin:0.2rem">  {{categorie.name}} </div>
      </div>  

      <div> 
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#validModelModal">
                Valider le projet : <span class="glyphicon glyphicon-ok-sign " aria-hidden="true"></span>
        </button> 
    </div>

    </form>  

 
</div>  
  
  <num-rec-affectcategoryformodel (viewCreateModelTrue)="listenerviewCreateModelTrue($event)" (viewCategorieFalse)="listenerviewCategorieFalse($event)" (outputCategoriesSelected)="listeneroutputCategoriesSelected($event)" [viewAffectCategory]="viewAffectCategory" [viewCreateModel]="viewCreateModel" [categoriesSelected]="categoriesSelected" [categoriesForCreateTask]="categoriesForCreateTask">loading</num-rec-affectcategoryformodel> 


<!-- validModelModal -->
<div class="modal fade" id="validModelModal" tabindex="-1" role="dialog" aria-labelledby="validModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validModelLabel">Valider le projet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Nom : {{modelName}}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" type="submit" (click)="createModel()" data-dismiss="modal">Valider</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
     
